In [1]:
import pandas as pd
import chardet
import numpy as np
import matplotlib.pyplot as plt

file_path = 'C:\\Users\\timox\\Desktop\\ychoba\\mn\lb3\\bestsellers with categories.csv'
with open(file_path, 'rb') as file:
    result = chardet.detect(file.read())

print(result['encoding'])

data = pd.read_csv(file_path, encoding='latin-1')
print(data.head())
data.info()

utf-8
                                                Name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...

                     Author  User Rating  Reviews  Price  Year        Genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [8]:
print(data.head(10))

                                                Name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...
5      A Dance with Dragons (A Song of Ice and Fire)
6  A Game of Thrones / A Clash of Kings / A Storm...
7                     A Gentleman in Moscow: A Novel
8      A Higher Loyalty: Truth, Lies, and Leadership
9                          A Man Called Ove: A Novel

                     Author  User Rating  Reviews  Price  Year        Genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction
5       George R. R. Martin          4.4    12643     11  2011      Fiction
6       George R. R. Martin          4.7    19735     30  2014      Fiction
7               Amor Towles          4.7    19699     15  2017      Fiction
8               James Comey          4.7     5983      3  2018  Non Fiction
9           Fredrik Backman          4.6    23848      8  2016      Fiction

In [9]:
data_shape = data.shape
print("Кiлькiсть рядкiв та стовпцiв в датасетi:", data_shape)

Кiлькiсть рядкiв та стовпцiв в датасетi: (550, 7)

In [10]:
data.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']
print(data.head(10))

                                                name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...
5      A Dance with Dragons (A Song of Ice and Fire)
6  A Game of Thrones / A Clash of Kings / A Storm...
7                     A Gentleman in Moscow: A Novel
8      A Higher Loyalty: Truth, Lies, and Leadership
9                          A Man Called Ove: A Novel

                     author  user_rating  reviews  price  year        genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction
5       George R. R. Martin          4.4    12643     11  2011      Fiction
6       George R. R. Martin          4.7    19735     30  2014      Fiction
7               Amor Towles          4.7    19699     15  2017      Fiction
8               James Comey          4.7     5983      3  2018  Non Fiction
9           Fredrik Backman          4.6    23848      8  2016      Fiction

In [11]:
missing_values_count = data.isna().sum()

print("Кількість пропусків у кожному стовпці:")
print(missing_values_count)

Кількість пропусків у кожному стовпці:
name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64

In [12]:
unique_genres = data['genre'].unique()

print("Унікальні жанри у стовпці 'genre':")
print(unique_genres)

Унікальні жанри у стовпці 'genre':
['Non Fiction' 'Fiction']

In [13]:
data

,name,author,user_rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [15]:
max_price = data['price'].max() #Максимальна ціна
min_price = data['price'].min() #Мінімальна ціна
mean_price = data['price'].mean() #Середня ціна
median_price = data['price'].median() #Медіанна ціна

print("Максимальна ціна:", max_price)
print("Мінімальна ціна:", min_price)
print("Середня ціна:", mean_price)
print("Медіанна ціна:", median_price)

Максимальна ціна: 105
Мінімальна ціна: 0
Середня ціна: 13.1
Медіанна ціна: 11.0

In [16]:
#Який рейтинг у датасеті найвищий?  
highest_rating = data['user_rating'].max()
print("Найвищий рейтинг у датасеті:", highest_rating)

Найвищий рейтинг у датасеті: 4.9

In [22]:
#Скільки книг мають такий рейтинг? 
rating_count = data['user_rating'].value_counts()[highest_rating]
print(f"Кількість книг з рейтингом {highest_rating}: {rating_count}")

Кількість книг з рейтингом 4.9: 52

In [23]:
#Яка книга має найбільше відгуків? 
max_reviews_index = data['reviews'].idxmax()
book_with_max_reviews = data.loc[max_reviews_index, 'name']
print(f"Книга з найбільшою кількістю відгуків: {book_with_max_reviews}")

Книга з найбільшою кількістю відгуків: Where the Crawdads Sing

In [25]:
#З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ? 
top_50_2010 = data[data['year'] == 2010]
max_price_index = top_50_2010['price'].idxmax()
most_expensive_book = top_50_2010.loc[max_price_index, 'name']
print(f"Найдорожча книга серед книг, що потрапили до Топ-50 у 2010 році: {most_expensive_book}")

Найдорожча книга серед книг, що потрапили до Топ-50 у 2010 році: Publication Manual of the American Psychological Association, 6th Edition

In [26]:
#Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році  
fiction_2012 = data[(data['genre'] == 'Fiction') & (data['year'] == 2012)]
num_fiction_2012 = fiction_2012.shape[0]
print(f"Кількість книг жанру 'Fiction', які потрапили до Топ-50 у 2012 році: {num_fiction_2012}")

Кількість книг жанру 'Fiction', які потрапили до Топ-50 у 2012 році: 21

In [28]:
#Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках?  
rating_4_9_2010_2011 = data[(data['user_rating'] == 4.9) & ((data['year'] == 2010) | (data['year'] == 2011))]
num_books_4_9_2010_2011 = rating_4_9_2010_2011.shape[0]
print(f"Кількість книг з рейтингом 4.9, які потрапили до рейтингу у 2010 або 2011 роках: {num_books_4_9_2010_2011}")

Кількість книг з рейтингом 4.9, які потрапили до рейтингу у 2010 або 2011 роках: 1

In [32]:
subset = data[['genre', 'price']]
result = subset.groupby('genre').agg({'price': ['max', 'min']})
result.columns = ['Максимальна ціна', 'mМінімальна ціна']
print(result)

             Максимальна ціна  mМінімальна ціна
genre
Fiction                    82                 0
Non Fiction               105                 0